<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content-language="english">
	<meta name="theme-color" content="#ECEFF1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
	<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
	<title>Home: Iqbal Adi Nurmansyah</title>
	<style type="text/css">
		.img-round{
			border-radius: 50%;
			border: 1px solid rgba(181,181,181,0.5);
		}
	</style>
</head>
<body>
	<div style="margin-top:50px" class="container">
	<h1 id="overview" class="title has-text-centered">BIODATA</h1>
		<div style="padding-bottom: 50px; margin-bottom: 50px" class="box">
		  <article class="has-text-centered">
		    <div class="container hero-body">
			  <h1 class="title">
			    <img style="width: 128px; height: 128px" class="img-round" src="/profile.jpg">
			  </h1>
			  <h2 class="title is-4">
			    Iqbal Adi Nurmansyah
			  </h2>
			  <h4 class="subtitle">
			  	Mahasiswa
			  </h4>
			</div>
			<div class="content">
				<p>
				  Motivasi saya ingin ikut workshop ini karena saya benar benar ingin belajar mengenai node.js, saya berharap dapat mengikutinya.
				</p>
			</div>
		  </article>
		</div>
	<div class="tile is-ancestor" style="margin-bottom: 100px;">
	  <div class="tile is-vertical is-8">
	    <div class="tile">
	      <div class="tile is-parent is-vertical">
	        <article class="tile is-child notification is-primary">
	          <p class="title">Program Studi</p>
	          <p class="subtitle">Informatika</p>
	        </article>
	        <article class="tile is-child notification is-warning">
	          <p class="title">Fokus</p>
	          <p class="subtitle">Web, Programming, Data</p>
	        </article>
	      </div>
	      <div class="tile is-parent">
	        <article class="tile is-child notification is-info">
	          <p class="title">Learned Code</p>
	          <p class="subtitle">html, css</p>
	          <figure style="margin-left:auto;margin-right: auto;" class="image is-128x128">
	            <img src="/science.png">
	          </figure>
	        </article>
	      </div>
	    </div>
	    <div class="tile is-parent">
	      <article class="tile is-child notification is-danger">
	        <p class="title">Pendidikan Terakhir</p>
	        <p class="subtitle">S1 UIN Sunan Kalijaga Yogyakarta</p>
	        <div class="content">
	          <!-- Content -->
	        </div>
	      </article>
	    </div>
	  </div>
	  <div class="tile is-parent">
	    <article class="tile is-child notification white">
	      <div class="content">
	        <p class="title">Selengkapnya di</p>
	        <p class="subtitle">Linkedin Profile</p>
	        <div class="content">	
			  <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/iqbaladinur" data-format="inline" data-related="false" data-width="250"></script>
	        </div>
	      </div>
	    </article>
	  </div>
	</div>
</body>